
@if (Session["account"] != null)
{
    @*using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                <p><b>@Session["UserName"]</b></p>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }*@
    <ul class="nav navbar-nav navbar-right navbar-collapse collapse">
        <p class="navbar-text">Hello,@Session["UserName"]</p>
        <li>@Html.ActionLink("Logout", "LogOut", "Login")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Login", "Index", "Login")</li>
    </ul>
}

